

body {
    margin: 0;
    background-color: black;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome__container {
    width: 100%;
    height: 110vh; 
    background-image: linear-gradient(to top,rgba(0,0,0,.999) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,.999) 97%), url("../img/background-img-netflix-index.jpg");
    background-size: cover;
    border-bottom: solid 8px #222;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 87px;
    margin: 0 56px;
    align-items: center;
    background-color: transparent;
}

.main-header__img {
    height: 134px;
    width: 134px;
    padding: 0; 
}

.main-header__login {
    text-decoration: none;
    background: #e50914;
    color: white;
    padding: 7px 17px;
    border-radius: 3px;
    margin: 8px 0px 0px;
    line-height: normal;
}

.welcome__container--details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 950px;
    text-align: center;
    padding: 150px 0;
    align-self: center;
    width: 100%;
}

.welcome__container--title {
    font-size: 50px;
    margin:0 100px 0 100PX;
    padding: 0;
    font-weight: bold;
}

.welcome__container--description {
    font-size: 26px;
    margin: 10px;
}


.welcome__form--title {
    font-size: 19px;
    font-weight: 100;
}

.welcome__container--description {
    font-weight: 400;
}

.welcome__form--email {
    display: flex;
    justify-content: center;
}

.welcome__form--input {
    max-height: 55px;
    width: 450px;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.welcome__form--btn {
    height: 60px;
    padding: 0 26px;
    margin-right: 0px;
    background-color:  #e50914;
    border: none;
    border-top-right-radius: 1px ;
    color: #FFF;
    font-weight: 400;
    font-size: 26px;  
}

.welcome__form--btn:hover {
    background-color: red;
}

.welcome__btn--icons {
    height: 21px;
}


.description-netflix {
    display: flex;
    border-bottom: solid 8px #222;
    height: 100%;
    align-items: center;
    padding: 45px 70px; 
}

.description-netflix--text {
    width: 50%;
}

.description-netflix--title {
    font-size: 50px;
    margin: 0px 0px 8px;
    
}

.description-netflix--details {
    font-weight: 400;
    font-size: 1.625rem;
}

.descrition-netflix--image {
    max-width: 52%;
    max-height: 390px;
}

.preguntas-frecuentes__container {
    margin: auto;
    max-width: 100%;
    border-bottom: solid 8px #222;
}

.preguntas-frecuentes__carta {
    text-align: center;
    margin: auto;
    padding: 70px 45px;
}

.preguntas-frecuentes__carta--title {
    text-align: center;
    font-size: 50px;
    margin: 0px 0px 8px;
}

.preguntas-frecuentes__list {
    width: 68%;
    margin: auto;
    margin-top: 52px;
    margin-bottom: 52px;
}

.preguntas-frecuentes__list--item {
    width: 100%;
    list-style: none;
    margin-bottom: 8px;
}

.preguntas-frecuentes__list--respuesta {
    display: none;
    position: absolute;
    background: #303030;
}

.preguntas-frecuentes__list--respuesta-open {
    display: flex;
    position: relative;
    background-color: #303030;
    list-style: none;
    padding: 24px;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    border-top: 1px solid #000;
}

.preguntas-frecuentes__list--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #303030;
    color: #FFF;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
    font-weight: 400;
    font-size: 25px;
    height: 73px;
    outline: none;
}

.preguntas-frecuentes__list--image {
    height: 36px;
    width: 36px;
}

.footer {
    padding: 70px 45px;
    margin: 0px 97px;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: repeat(4, 30px);  
    font-size: 13px;
}

.footer__title {
    margin: 0 40px 30px;
    color: #757575;
    font-size: 16px;
}

.footer__title a {
    color: #757575;
    text-decoration: none;
}

.footer__title a:hover {
    text-decoration: underline;
}

.footer__list--item {
    list-style: none;
}

.footer__list--item a {
    text-decoration:none;
    color: #757575;
}

.footer__list--item a:hover {
    text-decoration: underline;
}

.idioma {
    margin-left: 40px;
    background: #000;
    color: #999;
    border: 1px solid #333;
    font-size: 16px;
    padding: 12px;
}

.footer__clarification {
    text-align: right;
    color: #999;
}